@charset "utf-8";

/* reset.css */
* {margin: 0; padding: 0;}

/* header 영역 */
header{
  height: 100vh;
  background-image: url(./images/Orange.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#head{
  width: 500px;
  text-align: center;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  padding: 20px;
  border-radius: 10px;
}
#head > p:nth-child(1){
  font-size: 4rem;
  letter-spacing: 1rem;
  font-weight: bolder;
}
#head > p:nth-child(2){
  font-size: 1.2rem;
  margin: 1rem;
}
/* #head > div:nth-child(3){ */
.button_style{
  background-color: orange;
  width: 150px;
  font-size: 0.6rem;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
  color: #fff;
}
#head > div:nth-child(3):hover{
  background-color: rgb(221, 70, 0);
}

/* section id=sns 영역 */
section#sns{
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 60px;
}
section#sns > .card{
    width: 300px;
    text-align: center;
}
section#sns > .card > .icon{
    background-color: #aaa;
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#sns > .card > .icon > i{
    font-size: 2rem;
    color: #fff;
}
section#sns > .card > p:nth-of-type(1){
    font-weight: bolder;
    font-size: 1.3rem;
}
section#sns > .card > p:nth-of-type(2){
    font-size: 0.8rem;
    color: #333;
    line-height: 2;
    padding: 10px;
}
section#sns > .card > a{
    text-decoration:none;
    color: #5d9ab2;
}
section#sns > .card > a > span{
    font-weight: bolder;
}

/* section id=detail */
section#detail{
    background-color: #5d9ab2;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
section#life{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
section#detail > div,
section#life > div{
    width: 400px;
    padding: 50px;
}
section#detail > .img{
    background-image: url(./images/images1.jpg);
    background-position: center;
    background-size: cover;
}
section#life > .img{
    background-image: url(./images/images2.jpg);
    background-position: center;
    background-size: cover;
}
section#detail > .txt > p:nth-of-type(1),
section#life > .txt > p:nth-of-type(1){
    font-size: 1.3rem;
    font-weight: bolder;
}
section#detail > .txt > p:nth-of-type(2),
section#life > .txt > p:nth-of-type(2){
    font-size: 0.8rem;
    line-height: 2;
    margin: 10px 0;
}
section#detail > .txt > p:nth-of-type(3),
section#life > .txt > p:nth-of-type(3){
    margin: 0;
}
section#footer{
    background-color: darkcyan;
    color: #fff;
    display: flex;
    /* justify-content: center; */
    align-items: stretch;
    align-items: space-between;
    padding: 50px;
}

/* footer */
footer{
    background-color: #2b5566;
    color: #fff;
    padding: 20px;
}
footer a{
    text-decoration: none;
    color: inherit;
    font-size: 0.8rem;
}
footer > nav{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
footer > nav > div{
    flex: 1;
}
footer > nav > div > p{
    border-bottom: 1px solid #fff;
}
footer > nav > div > ul{
    list-style: none;
}
footer > nav > div > ul > li{
    padding: 10px 0;
}

footer > div > p:nth-of-type(1){
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 10px;
    padding-top: 10px;
}
footer > div > p:nth-of-type(2){
    padding-top: 10px;
    font-size: 0.8rem;
}